/**
 * Animations
 */
@keyframes slide-in {
	0% { transform: translateX(100%); }
	100% { transform: translateX(0%); }
}

@keyframes slide-out {
	0% { transform: translateX(0%); }
	100% { transform: translateX(-100%); }
}

@keyframes jiggle {
	0% { transform: translateY(0); }
	20% { transform: translateY(-60%); }
	40% { transform: translateY(0); }
}

/**
 * Responsiveness
 */
@media screen and (max-width: 480px) {
	body {
		font-size: 20px!important;
	}
}

/**
 * General styles
 */
* { box-sizing: border-box; }

body {
	font-family: 'Open Sans', 'Ubuntu', sans-serif;
	font-size: 30px;
	line-height: 1.5em;
	color: #333333;

	background: #EEEEEE;

	transition: background 0.3s ease-in-out;
	transition-delay: 0.7s;
}

h1, h2, h3, h4 {
	margin: 0;
	padding: 0.67em 0;
}

h1 {
	padding: 0.5em 0; /* since 2em h1 size */
}

p {
	margin: 0;
	padding: 1em;
}

footer {
	color: #666;
	font-size: 0.5em;
	line-height: 1.5em;

	padding-bottom: 2em;
}

/**
 * Color schemes
 */
body.color-white h1, body.color-white h2 { text-shadow: none; }
body.color-green { background: #4ad48e; color: #EEEEEE; }
/*body.color-green .btn--primary { background: #916fc5; box-shadow: 0 3px 0 #7b6482; }*/
body.color-red { background: #e74c3c; color: #EEEEEE; }
/*body.color-green .btn--primary { background: rgba(0, 0, 0, 0.4); box-shadow: 0 3px 0 #7b6482; }*/

/**
 * Buttons
 */
button {
	border: none;
	border-radius: 5px;
	outline: none;
	padding: 0.5em 0.7em;

	background: rgba(0, 0, 0, 0.4);
	color: #EEE;

	font-weight: 600;

	user-select: none;
	cursor: pointer;
}

button:hover {
	background: rgba(0, 0, 0, 0.6);		
}

button.active {
	background: rgba(0, 0, 0, 0.75);
}

button.btn--primary {
	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.5);
	margin-bottom: 3px;
}

button.btn--primary:active {
	/*transform: translateY(3px);*/
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 3px;
}

/**
 * Range control
 */
.range button:first-child {
	border-radius: 5px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.range button {
	border-radius: 0;
}

.range button:last-child {
	border-radius: 5px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/**
 * Loading dots
 */
.dot {
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background: #DDD;
	display: inline-block;
	line-height: 1em;
	margin-right: 5px;

	animation: jiggle 1s ease-in-out infinite;
}

.dot:last-child {
	margin-right: 0;
}

.dot:nth-child(2) {
	animation-delay: 0.15s;
}

.dot:nth-child(3) {
	animation-delay: 0.3s;
}

/**
 * Slides
 */
.slide {
	display: flex;
	flex-direction: column;

	/* Fill entire screen */
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	/* Center content */
	align-items: center;
	justify-content: center;
	text-align: center;

	/* Overflow */
	overflow: auto;
}

.slide .slide__center {
	overflow: auto;
}

.slide h1,
.slide h2,
.slide h3,
.slide h4,
.slide h5 {
	text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.slide h1 {
	font-size: 2em;
	font-weight: 700;
	padding-bottom: 0;
	padding: 0;
}

.slide h2 {
	font-size: 2em;
	font-weight: 700;
	padding-bottom: 0.7em;
	line-height: 1.2em;
}

.sliding-in {
	animation: slide-in 0.7s ease-in-out;
	pointer-events: none;
}

.sliding-out {
	animation: slide-out 0.7s ease-in-out;
	transform: translateX(-100%);
	pointer-events: none; /* Don't mess with the answer after submitted! */
}

/**
 * Slides: selection
 */
.slide ul.options,
.slide li.options {
	list-style: none;
	padding: 0;
}

.slide ul.options {
	margin: 0 2em;
}

.slide ul.options li {
	margin-bottom: 0.8em;
}

.slide ul.options li:last-child {
	margin-bottom: 0;
}

.slide ul.options li button {
	width: 100%;
	max-width: 600px;

	box-shadow: none;
}

/**
 * Components (results page)
 */
.component {
	background: white;
	color: #333;

	box-sizing: border-box;
	padding: 1em;
	margin: 1em 1em;

	text-align: left;
}

.component h3 {
	text-shadow: none;
	margin: 0;
	margin-bottom: 0.8em;
	padding: 0;
}

.component p {
	padding: 0;
	margin: 0;
	margin-bottom: 1em;
}

.component p:last-child {
	margin-bottom: 0;
}

.component ul {
	color: #666;
	margin: 0;
}

.component li {
	margin-bottom: 0.6em;
}

.component li:last-child {
	margin-bottom: 0;
}

.component ul.icon-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.component ul.icon-list li {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.component ul.icon-list li img {
	width: 1.3em;
	height: 1.3em;
	margin-right: 0.5em;
}

.component ul.big-icon-list li img {
	width: 1.8em;
	height: 1.8em;
}

.component .place__title,
.component .place__subtitle,
.component .place__description {
	display: block;
}

.component ul.icon-list.video-list li {
	align-items: center;
}

.component ul.video-list li a {
	text-decoration: none;
	color: #333;

	width: 100%;
	height: 3.5em;
	display: flex;
	align-items: center;

	border: 1px solid #CCC;
	border-radius: 3px;
	padding: 0 1em;
}

.component ul.video-list li span {
	display: block;
}

.component ul.video-list li a > * {
	float: left;
}